## Deliverable 3. Create a Travel Itinerary Map.

In [57]:
import pandas as pd
import requests
import gmaps
import gmaps.datasets
import numpy as np
import matplotlib as plt

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)


from ipywidgets.embed import embed_minimal_html
%matplotlib inline

In [58]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,1,Hilo,US,82.13,few clouds,19.7297,-155.0900,Hilo Hawaiian Hotel
1,2,Kapaa,US,84.18,few clouds,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
2,4,Cabo San Lucas,MX,88.81,overcast clouds,22.8909,-109.9124,Tesoro Los Cabos
3,5,Kulhudhuffushi,MV,82.56,broken clouds,6.6221,73.0700,Haajy Guest House 1
4,7,Butaritari,KI,83.91,light rain,3.0707,172.7902,Isles Sunset Lodge

In [59]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [60]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [61]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"]== "Tecolutla"]
vacation_end = vacation_df.loc[vacation_df["City"]== "Tecolutla"]
vacation_stop1 = vacation_df.loc[vacation_df["City"]== "Alvarado"]
vacation_stop2 = vacation_df.loc[vacation_df["City"]== "Agua Dulce"] 
vacation_stop3 = vacation_df.loc[vacation_df["City"]== "Escarcega"] 
vacation_stop3

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
129,492,Escarcega,MX,81.1,broken clouds,18.6089,-90.7454,Hotel Maria Isabel

In [62]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start.iloc[0,5:7].to_numpy()
end = vacation_end.iloc[0,5:7].to_numpy()
stop1 = vacation_stop1.iloc[0,5:7].to_numpy()
stop2 = vacation_stop2.iloc[0,5:7].to_numpy()
stop3 = vacation_stop3.iloc[0,5:7].to_numpy()

start

array([20.4833, -97.0167], dtype=object)

In [67]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure(center=(17, -89), zoom_level = 6)
Tecolutla2Tecolutla = gmaps.directions_layer(Tecolutla, Tecolutla, 
                                  waypoints=[Alvarado, Agua_Dulce, Escarcega],
                                  travel_mode="DRIVING")
fig.add_layer(Tecolutla2Tecolutla)
#Alvarado = stop1
#Agua_Dulce = stop2
#Escarcega = stop3 
#= gmaps.directions_layer(Tecolutla, Tecolutla, 
                                  #waypoints=[Alvarado, Agua_Dulce, Escarcega],
                                  #travel_mode="DRIVING")

In [68]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, 
                          vacation_stop2, vacation_stop3]
                         ,ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,466,Tecolutla,MX,81.79,overcast clouds,20.4833,-97.0167,Hotel Plaza Marsol
1,581,Alvarado,MX,84.29,overcast clouds,18.7667,-95.7667,Del Pastor
2,159,Agua Dulce,MX,81.12,scattered clouds,18.1333,-94.1333,Hotel Victoria
3,492,Escarcega,MX,81.10,broken clouds,18.6089,-90.7454,Hotel Maria Isabel

In [69]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations_df = itinerary_df[["Lat", "Lng"]]

In [70]:
# 11a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations_df, info_box_content=hotel_info)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))